*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav .search{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 40px;

}
.search div{
   color: gray;
}
.search .icon i{
    margin: 10px;
}
.search .icon i:hover{
    color: rgb(68, 67, 67);
}
.search .icon a{
    color: gray;
}

.search .glass{
    position: relative;
}
.search .glass i{
    position: absolute;
    left: 1px;
    bottom: 10px;
 
}
.search .glass input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 230px;
    padding-left: 50px; 
    padding-top: 15px;
    border: none;
    outline: none;
}
.search .name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.home{
    margin-top: 20px; 
    display: flex;
    justify-content: center;
}
.home a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    text-decoration: none;
    margin: 25px;
}
.home a:hover{
    color: blueviolet;
}
.shoes{
    background-color: rgb(138, 255, 255);
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.shoes div{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;

}
.shoes .find{
    width: 490px;
}
.shoes .find h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(68, 66, 66);

}
.shoes .find p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.shoes .find button{
    background-color: purple;
    padding: 15px;
    border: none;
    border-radius: 7px;
    transition: transform 0.5s ease;
}
.shoes .find button:hover{
    transform: scale(1.1);
}

.shoes .find button a{
    color: white;
    text-decoration: none;

}

.free{
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 110px;
    margin-bottom: 50px;
}
.free div{
    display: flex;
    padding: 10px;
}
.free .exe{
    width: 300px;
}
.exe h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(68, 66, 66);
}
.exe p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-top: 15px;
    color: rgb(143, 139, 139);
}
.free i{
    color: purple;
    font-size: 35px;
    margin-right: 10px;
}
.free .car div{
    display: flex;
}
.exe{
    flex-direction: column;
}
.gender{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-right: 170px;
    margin-left: 170px;
}
.gender .caan{
    position: relative;
    overflow: hidden;
    background-color: black;
    height: 400px;
}
.gender img{
    height: 400px;
    box-shadow: 1px 1px 1px rgb(223, 219, 219);
    transition: transform .5s ease;
    opacity: 0.9;
}
.gender img:hover{
    transform: scale(1.04);
}

.gender .man{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
}
.man p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.man .title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.feature{
    background-color: rgb(247, 246, 246);
    height: 600px;
    margin-top: 90px;
}
.ff{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(68, 66, 66);
}
.pop{
    display: flex;
    justify-content: space-around;
    margin-right: 200px;
    margin-left: 200px;

}
.pop div{
    background-color: white;
    height: 350px;
    width: 300px;
}
.pop img{
    margin-bottom: 35px
}
.pop .title{
    color: purple;
}
.pop p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(143, 139, 139);
    display: flex;
    justify-content: center;
}

.cat{
    height: 500px;
    margin-bottom: 50px
}
.we{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(68, 66, 66);
}
.sale{
    display: flex;
    justify-content: space-around;
}
.sale div{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.sale .find{
    width: 490px;
    margin-top: 90px;
}
.sale .find h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
    color: purple;
}
.sale .find .sit{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 15px;
    color: rgb(83, 80, 80);
}
.sale .find .ven{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(175, 172, 172);
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.ven span{
    color: purple;
}
.sale .find button{
    background-color: purple;
    padding: 15px;
    border: none;
    border-radius: 7px;
    transition: transform 0.5s ease;
    margin-right: 100px;
   margin-left: 180px;
}
.sale .find button:hover{
    transform: scale(1.1);
}

.sale .find button a{
    color: white;
    text-decoration: none;

}

.end{
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 150px;
}
.end div{
    margin: 20px;
}
.navigations{
    width: 650px;
}
.navigations div{
    display: flex;
    justify-content: space-between;
}
.navigations h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 66, 66);
    margin-bottom: 20px;
    margin-left: 30px;
}
.navigations ul{
    list-style-type: none;
    margin: 10px;
}
.navigations ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}

.promo{
    width: 210px;
}
.promo h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 66, 66);
    margin-bottom: 20px;
}
.promo img{
    height: 100px;
    margin-bottom: 15px;
}
.promo p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    font-size: 14px;
}
.promo .per{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 13px;
    margin-top: 5px;
}

.contact h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 66, 66);
    margin-bottom: 20px;
}
.contact div{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.contact div i{
    color: purple;
    margin-right: 10px;
}
.contact p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.contact .sub{
    flex-direction: column;
    margin-top: 70px;
}
.sub{
    position: relative;
}
.sub h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 66, 66);
    margin-bottom: 15px;
}
.sub input{
    padding: 10px;
    width: 280px;
}
.sub button{
    width: 70px;
    height: 35px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    position: absolute;
    top: 36px;
    right: 52px;
}

.copy{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 130px;
}
.copy p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: gray;
}
.copy i{
    font-size: 10px;
    color: gray;
}